* {
    font-family: 'Quicksand';
}
label {
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 700;
}

label a {
    color: #006D38;
}
label a:hover {
    color: #006D38;
}
.ant-input {
    border-radius: 0;
    height: fit-content;
    font-size: 18px;
}

.ant-picker {
    border-radius: 0;
    height: fit-content;
    font-size: 18px;
}
.ant-select .ant-cascader {
    border-radius: 0;
}
.ant-cascader-select {
    border-radius: 0;
}

.stick-slider {
    position: relative;
}

.news-carousel .slick-dots {
    position: absolute;
    top: 215px;
}

.slick-dots li {
    border-radius: 10px;
    background-color: #006D38
}

.ticket input {
    width: 10%;
    justify-content: center;
    align-items: center;
}

.ticket .ant-input {
    margin:0px 30px 0px 30px !important;
}